div{
	position: relative;
	border: 1px solid red;
	line-height: 2em;
	font-family: 'Roboto', sans-serif;
}
.fa-trash{
	color:#911156;
}
.btnEdit{
	position: absolute;
	bottom:0; right: 40px;
}
.btnDelete{
	position: absolute;
	bottom:0; right: 20px;
} 
.activeLink{
	color: red;
}
